{% extends 'base.html.twig' %}

{% block title %}Hello OurRecipesController!{% endblock %}

{% block body %}
<button>ajouter une recette</button>

	<button>ajouter une recette</button>
	<br>

	<div class="bg-primary">
		<h1>Petites faims</h1>
		<br>

		<div class="bg-primary">
			<h1>Sandwichs</h1>
			<br>

			<div class="bg-primary">
				<h1>Desserts</h1>
{% endblock %}
